@use './fonts' as *;

*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.5px;
    font-family: 'Outfit', sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
}
